//output:index.html
doctype html
html
  head
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Share', rel='stylesheet')

    title Jack Dunstan
    |   
    |   
    |   
    |       
    link(rel='stylesheet', href='css/style.min.css')
  body
    .starfield
      .parent
        .child
          .text 
            h1 Jack Dunstan
            hr
            a(href="tel:+61434897112")
              i.fa.fa-phone(aria-hidden='true')
            a(href="mailto:jack@dunsta.net")
              i.fa.fa-envelope-o(aria-hidden='true')
            a(href="https://www.linkedin.com/in/jackdunstan/")
              i.fa.fa-linkedin(aria-hidden='true')
            a(href="https://www.youtube.com/channel/UC5g11TcfFUFXoZ0i2_tUoCA/playlists")
              i.fa.fa-youtube-play(aria-hidden='true')                 


    |   
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='http://rawgit.com/mrdoob/stats.js/master/build/stats.min.js')
    script(src='https://use.fontawesome.com/2f26694da3.js')     
    script(src='js/index.js')
